
.h1 { color: rgb(48, 42, 165);
}

.h2 {
    color: crimson;
    text-align: center;
    }
body {
    background-image: url(./Emirates-Stadium.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.texte1couleur1 {
    color: #fff;
    text-shadow:
      3px 3px 0 #000,
      -3px 3px 0 #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;

}

.texte1couleur2 {
    color: rgb(244, 7, 7);
    }
    

.text-police {
    font-family: monospace;
    font-size: 40px;
}

.classe1{
    justify-content: space-between;
}